<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsdl.practices">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name="BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.AccountActivity"
            android:configChanges="uiMode"
            android:exported="false" />

        <service
            android:name=".service.MusicService"
            android:configChanges="uiMode" />

        <activity
            android:name=".activity.SmsActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".activity.MusicActivity"
            android:configChanges="uiMode"
            android:exported="false" />

        <meta-data
            android:name="ScopedStorage"
            android:configChanges="uiMode"
            android:value="true" />

        <activity
            android:name=".activity.GameActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KotlinActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".activity.CalculatorActivity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>